.tweets {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
  padding: 2rem 0;
  background-color: var(--ifm-background-surface-color);
}

.tweet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--ifm-color-white);
  padding: 1rem;
  border-radius: 8px;
  height: 350px; /* set a fixed height */
  overflow: hidden; /* hide overflow */
  transition: transform 0.3s ease-in-out;
}

.tweet:hover {
  transform: translateY(-5px);
}

.tweetHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.tweetName {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.tweetUser {
  color: var(--ifm-color-content-secondary);
  font-size: 0.9rem;
}

.tweetUserLink {
  color: var(--ifm-color-content);
}

.tweetDate {
  margin-bottom: 0.5rem;
  color: var(--ifm-color-content-secondary);
  font-size: 0.9rem;
}

.tweetUrl {
  color: var(--ifm-color-content);
}

.tweetText {
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--ifm-color-content-secondary);
  font-size: 1rem;
  line-height: 1.4;
  height: 100%;
}

.tweetText p {
  margin: 0;
  padding: 0;
}

.tweetAvatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 1rem;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .tweets {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .tweet {
    height: auto;
  }

  .tweetText {
    overflow: visible;
    height: auto;
  }
}
