# editorconfig.org helps projects define and maintain consistent coding styles
# across different editors and IDEs by declaring policy here and having editors
# pick up good behaviour by default when dealing with project files.

# this is the project root
root = true

[*.js]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[Makefile]
indent_style = tab

[*.md]
trim_trailing_whitespace = false
