::selection {
    background: #ffce76;
    color: #1d1919;
}

body {
    background-color: #fff;
    color: #2f343a;
}

a,
a:active {
    color: #530fff;
}

hr {
    border: 1px solid #eee;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #2f343a;
}

h1,
h2 {
    border-bottom: 0.0625rem solid #eee;
}

.navbar {
    background: #f8f8fa;
}

.navbar-ham {
    background: #ddd;
}

.navbar-ham .first,
.navbar-ham .second,
.navbar-ham .third {
    background: #000;
}

blockquote {
    background: #f7f7f7;
    color: #888;
}


.search-box-input-container {
    background: rgba(0, 0, 0, 0.02);
}

.search-icon {
    fill: #888;
}

.search-box-input {
    color: #000;
}

.search-box-input::placeholder {
    color: #888;
}

.search-box-input:focus + .search-icon {
    fill: #000;
}

.search-item-ul {
    background: #eee;
}

.search-item-ul li:hover {
    background: rgba(0, 0, 0, 0.1);
}

.search-item-ul a,
.search-item-ul li {
    color: #000;
}

.accordion-heading {
    color: #000;
    fill: #000;
}

.accordion-content {
    background: rgba(0, 0, 0, 0.02);
}

.accordion-content a {
    color: #000;
}

.methods.accordion-content {
    background: #e9e9e9;
}

.menu-link {
    color: #000;
}

.signature-attributes {
    color: #aaa;
}

.ancestors {
    color: #999;
}

.ancestors a {
    color: #999 !important;
}

.important {
    color: #950b02;
}

.type-signature {
    color: #00918e;
}

.name,
.name a {
    color: #293a80;
}

.details {
    background: #f9f9f9;
    color: #101010;
}

.member-item-container strong,
.method-member-container strong {
    color: #000;
}

.prettyprint,
.pre-top-bar-container {
    background: #000;
}

.prettyprint code {
    background-color: #000;
}

.prettyprint.linenums li {
    border-left: 3px #222831 solid;
}

/* stylelint-disable */
.prettyprint.linenums li.selected,
.prettyprint.linenums li.selected * {
    background-color: #404040;
}
/* stylelint-enable */

table,
.params,
.props {
    box-shadow: 0 0 15px -4px rgba(0, 0, 0, 0.1);
}

table .name,
.params .name,
.props .name,
.name code {
    color: #4d4e53;
}

table td,
.params td {
    border-top: 1px solid #eee;
}

table thead tr,
.params thead tr,
.props thead tr {
    background-color: #fff;
    color: #000;
}

/* stylelint-disable */
table .params thead tr,
.params .params thead tr,
.props .props thead tr {
    background-color: #fff;
    color: #000;
}

/* dl.param-type {
    border-bottom: 1px solid hsl(0, 0%, 87%);
} */

.disabled {
    color: #454545;
}


.code-copy-icon-container {
    fill: #fff;
}

.code-copy-icon-container:hover {
    background-color: #fff;
    fill: #000;
}

.code-lang-name {
    color: #ff8a00;
}

.tooltip {
    background: #ffce76;
    color: #000;
}

.tooltip .pun,
.tooltip .typ {
    background: #ffce76;
    color: #000;
}

.pln {
    color: #f5d67b;
}

/* string content */
.str {
    color: #55ae95;
}

/* a keyword */
.kwd {
    color: #5edfff;
}

/* a comment */
.com {
    color: #a0a0a0;
}

/* a type name */
.typ {
    color: #f5d67b;
}

/* a literal value */
.lit {
    color: #f5d67b;
}

/* punctuation */
.pun {
    color: #72e0d1;
}

/* lisp open bracket */
.opn {
    color: #72e0d1;
}

/* lisp close bracket */
.clo {
    color: #72e0d1;
}

/* a markup tag name */
.tag {
    color: #007bff;
}

/* a markup attribute name */
.atn {
    color: #f5d67b;
}

/* a markup attribute value */
.atv {
    color: #3e999f;
}

/* a declaration */
.dec {
    color: #f5871f;
}

/* a variable name */
.var {
    color: #f5d67b;
}

/* a function name */
.fun {
    color: #4271ae;
}

ol.linenums li {
    color: #fff;
}


code {
    background: #eee;
    color: #000;
}
