* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

html {
    display: flex;
}

body {
    font-family: 'body';
    font-size: 16px;
    margin: 0 auto;
    overflow-x: hidden;
    padding: 0;
}

a,
a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p,
ul,
ol,
blockquote {
    margin-bottom: 1em;
}

ol {
    list-style-position: inside;
}

p {
    overflow-x: auto;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'heading';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin: 0;
}

h1 {
    font-size: 48px;
    font-weight: 300;
    margin: 1em 0 0.5em;
    position: relative;
    z-index: 1;
}

/* stylelint-disable */
h1.page-title {
    font-size: 48px;
    margin: 10px 30px 20px;
    position: relative;
    z-index: 10;
}

h1.page-title::after,
article h1::after {
    bottom: 5px;
    content: '';
    display: block;
    height: 15px;
    position: absolute;
    width: 100%;
    z-index: -1;
}

/* stylelint-enable */

h2 {
    font-size: 24px;
    margin: 10px 0;
}

h3 {
    font-size: 20px;
    margin: 1.2em 0 0.3em;
}

h4 {
    font-size: 18px;
    margin: 1em 0 0.2em;
}

h5,
.container-overview .subsection-title {
    font-size: 120%;
    letter-spacing: -0.01em;
    margin: 8px 0 3px;
}

.subsection-title {
    text-transform: uppercase;
}

h6 {
    font-size: 100%;
    font-style: italic;
    letter-spacing: -0.01em;
    margin: 6px 0 3px;
}

tt,
code,
kbd,
samp {
    border-radius: 5px;
    font-family: 'code';
    font-size: 80%;
    padding: 1px 5px;
}

.class-description {
    font-size: 18px;
    margin-bottom: 16px;
}

.class-description:empty {
    margin: 0;
}

/* stylelint-disable */
#main {
    margin-left: 15.625rem;
    min-height: calc(100vh - 6.25rem);
}
/* stylelint-enable */

header {
    display: block;
}

section {
    display: block;
    padding: 0 30px;
}

section header {
    padding-top: 20px;
}

section h2 {
    display: inline-block;
    position: relative;
    z-index: 10;
}

section h2::after {
    bottom: 0;
    content: '';
    display: block;
    height: 10px;
    position: absolute;
    width: 100%;
    z-index: -1;
}

section ul {
    list-style: none;
    padding-left: 10px;
}

.variation {
    display: none;
}

.signature-attributes {
    font-size: 60%;
    font-style: italic;
    font-weight: lighter;
}

nav {
    display: block;
    height: 100%;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 250px;
}

nav h2 {
    margin: 0;
    padding: 0;
}

nav h2 img {
    max-height: 100px;
    max-width: 220px;
    object-fit: contain;
}

nav > h2 > a {
    display: block;
    font-size: 30px;
    font-weight: 700;
    height: 100%;
    line-height: 30px !important;
    margin: 0;
    position: relative;
    text-align: center;
    text-decoration: none !important;
    text-transform: uppercase;
    width: 100%;
    word-break: break-word;
    z-index: 1;
}

/* stylelint-disable */
nav > h2 > a > .text::after {
    bottom: -5px;
    content: '';
    display: block;
    height: 20px;
    position: absolute;
    width: 100%;
    z-index: -1;
}

/* stylelint-enable */

nav .search-box {
    padding: 0 10px 20px;
    position: relative;
    z-index: 10;
}

nav .search-box input {
    border: 0;
    border-radius: 5px;
    font-family: 'body';
    font-size: 14px;
    padding: 5px 10px;
    width: 100%;
}

.search-box .search-item-container {
    border-radius: 4px;
    position: absolute;
    top: 35px;
    width: 230px;
}

.search-item-ul {
    max-height: 150px;
    overflow: auto;
}

.search-item-ul li {
    font-size: 12px;
    padding: 5px 10px;
    transition: 0.3s;
}

.search-item-ul li:hover {
    border-radius: 4px;
}

.search-item-ul a:hover {
    text-decoration: none;
}

nav > h2 {
    padding: 40px 10px;
}

nav h2,
nav h3,
nav h3 a {
    font-size: 18px;
    margin: 0;
}

nav h3 {
    padding: 10px 10px 6px;
}

.sidebar-list-div {
    bottom: 0;
    left: 0;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 130px;
}

/* If search box is there then more space is required */

.search-box + .sidebar-list-div {
    bottom: 2rem;
    top: 10.625rem;
}

.sidebar-list-div ul,
nav ul {
    font-family: 'body';
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul a {
    display: block;
    font-family: 'body';
    font-size: 12px;
    line-height: 18px;
    padding: 0;
    transition: padding 0.2s, color 0.2s, font-weight 0.2s;
}

nav a:hover {
    text-decoration: underline;
}

.sidebar-list-div > ul {
    padding-left: 10px;
}

/* stylelint-disable */
.sidebar-list-div > ul > li > a {
    font-weight: 500;
    padding: 4px 10px;
    word-break: break-all;
}

.sidebar-list-div ul ul a,
.sidebar-list-div ul ul a:active {
    padding-left: 20px;
}

/* stylelint-enable */

footer {
    display: block;
    font-size: 80%;
    font-style: italic;
    margin-left: 250px;
    padding: 30px;
}

.ancestors a {
    text-decoration: none;
}

.important {
    font-weight: bold;
}

.yes-def {
    text-indent: -1000px;
}

.signature {
    font-family: 'code';
    font-size: 80%;
}

.name {
    font-family: 'code';
    font-size: 110%;
    font-weight: bold;
}

.name a {
    font-size: 28px;
}

.details {
    margin: 0;
    padding: 10px;
}

.details .details-item-container {
    display: flex;
    margin: 10px 0;
}

.details dt {
    float: left;
    min-width: 180px;
    padding: 0 10px;
}

.details ul {
    margin: 0;
}

.details ul {
    list-style-type: none;
}

.details ul li {
    display: inline-block;
    margin-right: 10px;
    word-break: break-word;
}

/* stylelint-disable */
.details pre.prettyprint {
    margin: 0;
}
/* stylelint-enable */

.details .object-value {
    padding-top: 0;
}

.description {
    margin-bottom: 32px;
}

.method-member-container table {
    margin-top: 15px;
}

.code-caption {
    font-size: 107%;
    font-style: italic;
    margin: 0;
}

.prettyprint {
    border-radius: 8px;
    font-size: 14px;
    margin: 30px 0;
    overflow: auto;
    padding-top: 5px;
}

.prettyprint.source {
    width: inherit;
}

.prettyprint code {
    display: block;
    font-size: 0.875rem;
    line-height: 1rem;
    padding: 2rem;
}

.prettyprint > code {
    padding: 30px;
}

.prettyprint .linenums code {
    padding: 0 15px;
}

/* stylelint-disable */
.prettyprint .linenums li:first-of-type code {
    padding-top: 15px;
}

.prettyprint code span.line {
    display: inline-block;
}

.prettyprint.linenums {
    user-select: none;
    user-select: none;
    user-select: none;
    user-select: none;
}

.prettyprint.linenums > div {
    margin-top: 1.6rem;
    padding-left: 4.7rem;
}

.prettyprint > div {
    overflow: auto;
}

.prettyprint.linenums ol {
    padding-left: 0;
}

.prettyprint.linenums li {
    min-height: 18px;
}

.prettyprint.linenums li.selected,
.prettyprint.linenums li.selected * {
    padding: 1px;
}
/* stylelint-enable */

.prettyprint.linenums li * {
    user-select: text;
    user-select: text;
    user-select: text;
    user-select: text;
}

.params,
.props,
table {
    border-collapse: collapse;
    border-radius: 8px;
    border-spacing: 0;
    font-size: 14px;
    margin: 30px 0;
    width: 100%;
}

.params .name,
.props .name,
.name code {
    font-family: 'code';
    font-size: 100%;
}

.params td,
.params th,
.props td,
.props th,
th,
td {
    display: table-cell;
    margin: 0;
    padding: 15px;
    text-align: left;
    vertical-align: top;
}

.params thead tr,
.props thead tr {
    font-weight: bold;
}

/* stylelint-disable */
.params .params thead tr,
.props .props thead tr {
    font-weight: bold;
}

.params td.description > p:first-child,
.props td.description > p:first-child {
    margin-top: 0;
    padding-top: 0;
}

.params td.description > p:last-child,
.props td.description > p:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

dl.param-type {
    margin-bottom: 30px;
    padding-bottom: 30px;
}

/* stylelint-enable */

.param-type dt,
.param-type dd {
    display: inline-block;
}

.param-type dd {
    font-family: 'code';
    font-size: 80%;
}

/* navicon button */

.navicon-button {
    cursor: pointer;
    display: none;
    padding: 20px 10px;
    position: relative;
    transition: 0.25s;
    user-select: none;
}

.navicon-button .navicon::before,
.navicon-button .navicon::after {
    transition: 0.25s;
}

.navicon-button:hover {
    opacity: 1;
    transition: 0.5s;
}

.navicon-button:hover .navicon::before,
.navicon-button:hover .navicon::after {
    transition: 0.25s;
}

.navicon-button:hover .navicon::before {
    top: 0.625rem;
}

.navicon-button:hover .navicon::after {
    top: -0.625rem;
}

/* navicon */

.navicon {
    border-radius: 2.5rem;
    height: 0.125rem;
    position: relative;
    transition: 0.3s;
    width: 2em;
}

.navicon::before,
.navicon::after {
    border-radius: 1rem;
    content: '';
    display: block;
    height: 0.125rem;
    position: absolute;
    transition: 0.3s 0.25s;
    width: 2rem;
    z-index: -1;
}

.navicon::before {
    top: 0.5rem;
}

.navicon::after {
    top: -0.5rem;
}

/* open */

.nav-trigger:checked + label:not(.steps) .navicon::before,
.nav-trigger:checked + label:not(.steps) .navicon::after {
    top: 0 !important;
}

.nav-trigger:checked + label .navicon::before,
.nav-trigger:checked + label .navicon::after {
    transition: 0.5s;
}

/* stylelint-disable */
.nav-trigger:checked + label.plus .navicon::before,
.nav-trigger:checked + label.x .navicon::before {
    transform: rotate(-45deg);
}

.nav-trigger:checked + label .navicon {
    background: transparent;
}

.nav-trigger:checked + label.plus .navicon::after,
.nav-trigger:checked + label.x .navicon::after {
    transform: rotate(45deg);
}

.nav-trigger:checked + label.plus {
    transform: rotate(45deg);
}

.nav-trigger:checked ~ nav {
    left: 0 !important;
}

.nav-trigger:checked ~ .overlay {
    display: block;
}

/* stylelint-enable */

.nav-trigger {
    clip: rect(0, 0, 0, 0);
    position: fixed;
    top: 0;
}

.overlay {
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

@media only screen and (max-width: 42rem) {
    /* Media query */

    body {
        overflow-x: hidden;
    }

    nav {
        bottom: 0;
        left: -250px;
        right: 0;
        top: 0;
        transition: left 0.2s;
        z-index: 1000;
    }

    .navicon-button {
        border-radius: 10px;
        display: inline-block;
        position: fixed;
        right: 30px;
        top: 30px;
        z-index: 1000;
    }

    /* stylelint-disable */
    #main {
        margin-left: 0;
        min-width: 360px;
        padding: 0 25px;
        width: 100%;
    }

    #main h1.page-title {
        margin: 60px 0 10px;
    }

    #main section {
        padding: 0;
    }
    /* stylelint-enable */

    footer {
        margin-left: 0;
    }
}

/* Extra */

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.overflow-auto {
    overflow: auto;
}

.w-100 {
    width: 100%;
}

.mt-20 {
    margin-top: 20px;
}

/* End */
