* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    min-height: 100%;
    width: 100%;
}

body {
    font-family: 'body';
    font-size: 16px;
    overflow-x: hidden;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'heading';
    font-weight: 400;
    margin: 1rem;
}

h1 {
    font-size: 42px;
    margin: 2rem 0;
    padding-bottom: 0.5rem;
}

h2,
h3 {
    margin: 1rem 0;
    padding-bottom: 0.5rem; 
}



img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin: 1rem 0; 
}


article ul {
    list-style: none;
    padding-left: 1rem;
}

article ul li::before {
    content: '\2014\a0';
    margin-right: 0.5rem;
}

article ul li,
article ol li {
    padding: 0.5rem 0;
}


article ol {
    padding-left: 1rem;
}

ol.linenums li {
    padding: 0;
}


.variation {
    display: none;
}

.signature-attributes {
    font-size: 60%;
    font-style: italic;
    font-weight: lighter;
}


.ancestors a {
    text-decoration: none;
}

.important {
    font-weight: bold;
}

.yes-def {
    text-indent: -1000px;
}

.signature {
    font-family: 'code';
    font-size: 80%;
}

.name {
    font-family: 'code';
    font-size: 110%;
    font-weight: bold;
}

.name a {
    font-size: 28px;
}

.details {
    margin: 1rem 0;
    padding: 0.625rem 1rem;
}

.details .details-item-container {
    display: flex;
    margin: 10px 0;
}

.details dt {
    float: left;
    min-width: 180px;
    padding: 0 10px;
}

.details ul {
    margin: 0;
}

.details ul {
    list-style-type: none;
}

.details ul li {
    display: inline-block;
    margin-right: 10px;
    padding: 0;
    word-break: break-word;
}

.details ul li::before {
    content: '';
    margin: 0;
}

.details ul li p {
    margin: 0;
}


/* stylelint-disable */
.details pre.prettyprint {
    margin: 0;
}
/* stylelint-enable */

.details .object-value {
    padding-top: 0;
}

.description {
    margin-bottom: 32px;
}

.method-member-container table {
    margin-top: 15px;
}

.code-caption {
    font-size: 107%;
    font-style: italic;
    margin: 0;
}

.prettyprint {
    border-radius: 8px;
    font-size: 14px;
    margin: 30px 0;
    overflow: auto;
    padding-top: 5px;
}

.prettyprint.source {
    width: inherit;
}

.prettyprint code {
    display: block;
    font-size: 0.875rem;
    line-height: 1rem;
    padding: 1rem 2rem;
}

.prettyprint > code {
    padding: 30px;
}

.prettyprint .linenums code {
    padding: 0 15px;
}

/* stylelint-disable */
.prettyprint .linenums li:first-of-type code {
    padding-top: 15px;
}

.prettyprint code span.line {
    display: inline-block;
}

.prettyprint.linenums {
    user-select: none;
    user-select: none;
    user-select: none;
    user-select: none;
}

.prettyprint.linenums > div {
    margin-top: 1.6rem;
    padding-left: 4.7rem;
}

.prettyprint > div {
    overflow: auto;
}

.prettyprint.linenums ol {
    padding-left: 0;
}

.prettyprint.linenums li {
    min-height: 18px;
}

.prettyprint.linenums li.selected,
.prettyprint.linenums li.selected * {
    padding: 1px;
}
/* stylelint-enable */

.prettyprint.linenums li * {
    user-select: text;
    user-select: text;
    user-select: text;
    user-select: text;
}

.params,
.props,
table {
    border-collapse: collapse;
    border-radius: 8px;
    border-spacing: 0;
    font-size: 14px;
    margin: 0;
    width: 100%;
}

.params .name,
.props .name,
.name code {
    font-family: 'code';
    font-size: 100%;
}

.params td,
.params th,
.props td,
.props th,
th,
td {
    display: table-cell;
    margin: 0;
    padding: 15px;
    text-align: left;
    vertical-align: top;
}

.params thead tr,
.props thead tr {
    font-weight: bold;
}

/* stylelint-disable */
.params .params thead tr,
.props .props thead tr {
    font-weight: bold;
}

.params td.description > p:first-child,
.props td.description > p:first-child {
    margin-top: 0;
    padding-top: 0;
}

.params td.description > p:last-child,
.props td.description > p:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

dl.param-type {
    margin-bottom: 30px;
    padding-bottom: 30px;
}

/* stylelint-enable */

.param-type dt,
.param-type dd {
    display: inline-block;
}

.param-type dd {
    font-family: 'code';
    font-size: 80%;
}

code {
    border-radius: 0.3rem;
    font-family: 'code';
    font-size: 0.8rem;
    padding: 0.1rem 0.4rem;
}

.mt-20 {
    margin-top: 20px;
}

.details