name: Lint

on:
  push:
    branches-ignore:
      - 'dependabot/**'
  pull_request:

env:
  FORCE_COLOR: 2

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4.0.2
        with:
          node-version: lts/*
          cache: 'npm'

      - name: Install npm dependencies
        run: npm ci

      - name: Run lint
        run: npm run lint
